doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/style.css')
  title Gamer&apos;s hub
main
  section#plataforma
    img#xbox(src='img/xbox.png' alt='xbox')
    img#psp(src='img/ps.png' alt='PSP')
    img#nintendo(src='img/nintendo.png' alt='nintendo')
  section#juegos
    h1#marca Selecciona una marca
    #venta
  aside
    .carrito
      h2 Carrito
    .opciones
script(src='/js/codigo.js')
