doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/login_css.css')
  title Login
.login
  .login-box
    .avatar
    h2 Iniciar Sesi&oacute;n
    form.login-form(action='/credenciales' method='post')
      div
        label(for='username')
          img(src='/img/usuario.svg' alt='Usuario')
        input#username(type='text' name='username' placeholder='Usuario' required='')
      div
        label(for='password')
          img(src='/img/password.svg' alt='Contraseña')
        input#password(type='password' name='password' placeholder='Contraseña' required='')
      button(type='submit') Entrar
    a(href='/users/regitrar') Registrate
