doctype html
html
  head
    title Registro de Pago
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/styleRegistroPago.css")
  body
    nav
      ul
        li
          if !user
            a(href='/users/login') Iniciar sesi贸n
          else
            a(href='/') Inicio
            if rol == 'admin'
              a(href='/admin/tickets') Administraci贸n
              a(href='/admin/altaAdmin') Alta Admininstrador
              a(href='/admin/stock') Stock de productos
            a(href='/users/perfil/'+user) Perfil
            a(href='/users/logout') Cerrar sesi贸n
  main
    section#registro-pago
      h1 Registro de Pago
      form(method="POST" action="/pagos/registro")
        input(type="hidden" name="_csrf" value=csrf)
        input(type="hidden" name="id_ticket" value=id_ticket)
        .form-group
          label(for="forma_pago") Forma de Pago:
          select(name="forma_pago" id="forma_pago" required)
            option(value="") Seleccione una opci贸n
            option(value="efectivo") Efectivo
            option(value="tarjeta") Tarjeta
            option(value="transferencia") Transferencia
        .form-group
          label(for="pago") Monto del Pago:
          input(type="number" name="pago" id="pago" step="0.01" min="0" required placeholder="Ingrese el monto del pago")
        .form-actions
          button(type="submit") Registrar Pago
