doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css')
    title Seleccionar Método de Pago
  body
    nav
      ul
        li
          a(href='/perfil') Perfil
        li
          a(href='/misCompras') Mis compras
        li
          a(href='/users/logout') Cerrar sesión

    main
      section#pago
        h1 Selecciona un Método de Pago
        p Total a pagar: $#{carrito_total}
        
        form(action="/comprar", method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          select(name="metodo_pago" required)
            option(value="") Selecciona un método de pago
            option(value="efectivo") Efectivo
            option(value="tarjeta") Tarjeta
            option(value="transferencia") Transferencia
          button(type="submit") Confirmar Compra