doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/login_css.css')
      title Registro
    body
        .login 
            .box
              h1 Registrate
              form(action='' method='post')
                input(type="hidden" name="_csrf" value=csrf)
                div
                  label(for='username') Usuario
                  input#username(type='text' name='username' required='')
                div
                  label(for='password') Contrase&ntilde;a
                  input#password(type='password' name='password' required='')
                div
                  label(for='nombre') Nombre(s)
                  input#nombre(type='text' name='nombre' required='')
                div
                  label(for='ap_paterno') Apellido Paterno
                  input#ap_paterno(type='text' name='ap_paterno' required='')
                div
                  label(for='ap_materno') Apellido Materno
                  input#ap_materno(type='text' name='ap_materno')
                div
                  label(for='email') Email
                  input#email(type='email' name='email' placeholder='ejemplo@dominio.com' required='')
                button(type='submit') Registrar
    
            if errores
                div(class="errores" )
                    each er in errores
                        h3=er.msg